header {
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
  z-index: 100;
  box-shadow: 2px 0px 5px gray inset;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 700px;
  padding-left: 5px;
  padding-right: 1px;
}

.icon-facebook {
  width: 60px;
}

.search-bar {
  flex: 2;
  border-radius: 10px;
  border: 1px gray solid;
  height: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
}

.facebook-icon {
  border-radius: 90px;
}

.middle-section {
  position: fixed;
  right: 700px;
  display: flex;
  flex-direction: row;
}

.right-section {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: row;
}

.notification-container {
  position: relative;
}

.notification-count {
  display: flex;
  align-items: center;
  position: absolute;
  top: -2px;
  right: 2px;
  border-radius: 10px;
  background-color: rgb(219, 43, 43);
  color: white;
  font-size: 12px;
  font-family: robot, arial;
  font-weight: 500;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.mid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.mid img {
  height: 35px;
  width: 35px;
  vertical-align: baseline;
}

.mid .tool-tip,
.right .tool-tip,
.search-button .tool-tip {
  position: absolute;
  bottom: -50px;
  background-color: rgb(105, 105, 105);
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 13px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

.right {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px gray solid;
  border-radius: 18px;
}

.search-button:hover {
  background-color: rgb(231, 229, 229);
}

.right:hover .tool-tip,
.mid:hover .tool-tip,
.search-button:hover .tool-tip {
  opacity: 1;
}
