.publication-grid {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(252, 249, 249);
}

.publication {
  width: 500px;
  margin-bottom: 30px;
  border: 2px rgb(241, 238, 237) solid;
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.post {
  width: 100%;
}

.post-content {
  width: 100%;
  height: 450px;
}

.profil {
  width: 60px;
  height: 60px;
  border-radius: 35px;
}

.author {
  display: flex;
  flex-direction: row;
}

.profil-picture {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.id-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}

.name-author {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.contributeur {
  background-color: rgb(186, 189, 189);
  border-radius: 3px;
}

.source-group {
  font-weight: 700;
  content: none;
  height: 30px;
}

.comments {
  width: 100%;
  height: 270px;
  background-color: aquamarine;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  border-top: 1px rgb(116, 114, 114) solid;
  border-bottom: 1px rgb(116, 114, 114) solid;
}

.like,
.comment {
  height: 25px;
  width: 40px;
}

.share {
  height: 33px;
  width: 40px;
}
