.side-bar-2 {
  position: fixed;
  left: 1550px;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  color: rgb(241, 240, 240);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 5px;
  box-shadow: 1px 0px 2px gray inset;
  height: 100%;
}

.side-bar-2-container {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 90px;
}

.sponsored-container {
  border-bottom: 1px rgb(231, 230, 230) solid;
  padding-bottom: 5px;
}

.sponsored {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.img-sponsored img {
  height: 110px;
  width: 120px;
  border-radius: 6px;
  margin-right: 5px;
}

.id-sponsor {
  display: flex;
  flex-direction: column;
}

.sponsor {
  color: rgb(134, 133, 133);
}

.subject {
  font-weight: 600;
}

.spon {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 700;
}

.page-profil-container {
  border-bottom: 1px rgb(231, 230, 230) solid;
  padding-bottom: 5px;
}

.page-profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}

.img-page {
  width: 50px;
  margin-right: 5px;
}

.img-page img {
  border-radius: 20px;
  height: 40px;
  width: 45px;
}

.id-page {
  flex: 1;
  font-size: 17px;
  font-weight: 600;
}
